<a href="https://colab.research.google.com/github/cagedlion/cagedlion/blob/main/ETH_Prediction_30_days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#This file attempts to predict the future price of Ether

In [16]:
# The first thing we want to do is import the necessary library and set the filepath to our data file
from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
filepath = "https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv"
import ssl  # we need to import this library and tweak one setting due to fact we use HTTPS certificate(s)
ssl._create_default_https_context = ssl._create_unverified_context
# Now we want to create a dataframe and use Pandas' to_csv function to read in our file
df = pd.read_csv(filepath, skiprows=1)  # we use skiprows parameter because first row contains our web address
# Now that we have loaded our data into the dataframe, we can preview it using the print & .head() function
df  # look at the dataframe

              unix                 date  ...   Volume USDT  tradecount
0     1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0
1     1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
2     1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
3     1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
4     1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
...            ...                  ...  ...           ...         ...
1341  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
1342  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
1343  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
1344  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
1345  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN

[1346 rows x 10 columns]

In [17]:
sorted_df = df. sort_values(by=["date"], ascending=True)
sorted_df

              unix                 date  ...   Volume USDT  tradecount
1345  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN
1344  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
1343  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
1342  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
1341  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
...            ...                  ...  ...           ...         ...
4     1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
3     1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
2     1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
1     1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
0     1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0

[1346 rows x 10 columns]

In [18]:
# set the index to be the date
df=sorted_df.set_index(pd.DatetimeIndex(sorted_df['date'].values))
#show the data
df

                    unix                 date  ...   Volume USDT  tradecount
2017-08-17  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN
2017-08-18  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
2017-08-19  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
2017-08-20  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
2017-08-21  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
...                  ...                  ...  ...           ...         ...
2021-04-18  1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
2021-04-19  1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
2021-04-20  1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
2021-04-21  1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
2021-04-22  1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0

[1346 rows x 10 columns]

In [19]:
#now get only the close price
df=df[['close']]
df

              close
2017-08-17   302.00
2017-08-18   293.96
2017-08-19   290.91
2017-08-20   299.10
2017-08-21   323.29
...             ...
2021-04-18  2235.64
2021-04-19  2161.12
2021-04-20  2330.03
2021-04-21  2357.06
2021-04-22  2344.02

[1346 rows x 1 columns]

In [20]:
# create a variable to store the number of days for which we want to predict the prices
prediction_days=30
# create a new variable called prediction
df['prediction']=df[['close']].shift(-prediction_days)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

             close  prediction
2017-08-17  302.00      249.31
2017-08-18  293.96      257.55
2017-08-19  290.91      294.57
2017-08-20  299.10      284.00
2017-08-21  323.29      282.00

In [21]:
# Drop the prediction variable from the dataframe
X = np.array(df.drop('prediction', axis=1))
# Remove the last n+1 rows of data where, n is the prediction_days
X=X[:len(df)-prediction_days]
print(X)

[[ 302.  ]
 [ 293.96]
 [ 290.91]
 ...
 [1782.98]
 [1680.97]
 [1668.08]]

In [22]:
# Create a dependent variable dataset (y)
y = np.array(df['prediction'])
#Get all the y values except the last n+1 rows
y=y[:-prediction_days]
y

array([ 249.31,  257.55,  294.57, ..., 2330.03, 2357.06, 2344.02])

In [23]:
#Split the data into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=1)

In [24]:
# set the prediction_days_array for the last 30 days from the original dataset
prediction_days_array=np.array(df.drop(['prediction'], axis=1))[-prediction_days:]
print(prediction_days_array)

[[1581.84]
 [1585.74]
 [1698.84]
 [1712.63]
 [1687.01]
 [1816.74]
 [1840.46]
 [1919.37]
 [1968.05]
 [2133.69]
 [2008.52]
 [2075.69]
 [2107.38]
 [2112.21]
 [1963.47]
 [2080.46]
 [2066.87]
 [2133.49]
 [2151.36]
 [2137.69]
 [2299.19]
 [2432.6 ]
 [2514.04]
 [2422.67]
 [2317.6 ]
 [2235.64]
 [2161.12]
 [2330.03]
 [2357.06]
 [2344.02]]

In [30]:
# Use the random forest regressor model
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=4, random_state=1)
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.9515499204704363

In [31]:
model.score(X_test, y_test)

0.704188420570625

In [32]:
#Show how close the predicted values and actual values are
prediction=model.predict(X_test)
#print the predicted values
print(prediction)
print()
#print the actual values
print(y_test)

[ 159.1075      219.8125      158.1175      340.36        353.8075
  147.47        483.265       499.91        147.6         117.98
  197.8325      748.99        526.8075      262.305       294.43
  344.27        210.26        130.7         593.8325      329.735
  228.09        486.63        284.         2329.155       477.785
  435.155       172.77        268.7875      720.7325      186.2925
  592.5475      498.76        152.97        353.8075      378.1925
  209.8725      200.935       498.105       317.71        451.295
  592.115       593.8325      498.895       849.66416667  192.62
  489.7375      264.7975      226.1         175.2525      192.62
 1874.3925      357.0275      422.825       177.42         91.
  137.625       226.1         495.765       188.8775      124.575
  129.405       122.155      1309.245       239.0125      214.6625
  605.22       2432.6         439.3825      177.62        253.4325
 1316.835       174.72        556.88        186.285       653.7675
  654.765       284.4675      220.23        961.02        133.0875
  295.07        558.11        189.875       387.73        181.4475
  202.0025      226.3325      193.44        362.1775      117.1075
  671.5         435.835       205.4475      507.2825      277.2725
  178.185       713.245       412.3125      719.83        305.4875
  377.3325      122.785       554.6475      866.66        366.42
  140.365       230.99        504.765      1304.9125      305.0725
  581.0975     1896.035       320.7225      453.2375      138.087
  131.89        174.3425     1322.0425      136.755       210.77
  439.2475      189.1825      466.205       498.76        275.3
  477.94        117.98        699.335       340.36        287.9
  362.94        196.7175      363.57        375.335       207.0025
  400.4         582.725       551.475       167.39        344.27
 1968.05       2008.52        145.425       648.8325      545.12
  115.63       1866.0025      293.0475     1231.775       541.39
  516.12        180.54        123.35        425.82        129.83
  268.7875      148.955       268.7875      353.59        367.92
  274.62        132.635       305.          791.605       133.36
  159.0125     1525.2625      609.0125      270.59        386.895
  357.8125      487.5275      261.155       136.89        416.965
  198.74        216.5375      210.26        367.92        193.1025
  234.535      1304.0225      174.0375      317.71        170.075
  706.7875      897.7625      382.93        779.57        163.75
  246.95        558.0525      380.525       533.93        113.73
  567.2675      150.88        200.585      1581.84        547.5875
  326.895       179.9625      136.785       680.845       230.99
  317.71        225.7875      305.4875      146.94        621.93
  217.3525      439.3825      133.07        106.44        176.6625
 1972.95        178.2525      188.7425      327.23        263.9225
  536.3325      129.975       350.1225      159.1075      305.
  390.38        503.26        691.09        117.98        181.915
  123.6125      218.615       346.05        175.2875      446.625
  720.7325      147.14        292.8125      177.62        202.81
  486.63        178.52        155.2625      134.22        800.0275
  118.875       294.42        196.1875      331.81375     526.8075
  390.38        633.27        202.81        127.4525     2126.19
  205.4475      117.98        151.565       168.2425      202.0025
  130.77        180.42        174.72        339.59      ]

[ 194.21  379.34  187.4   357.49  661.51  121.88  396.67  384.51  153.86
  209.84  229.64  385.26  367.93  173.75  387.97  714.95  148.45  159.31
 1253.87  225.4   270.53  537.52  367.42 1793.48  475.4   331.33  100.39
  205.85  591.02  316.77  462.09  478.49  141.28  270.8   427.43  188.11
  116.57  449.78  130.98  616.66  637.44  524.11 1233.6   835.89  184.92
  720.85  149.56  294.81  212.79  186.68 1766.1   387.88  216.84  219.62
  194.33  134.35  683.99  608.83  183.75  264.66  140.92  196.24  511.5
  206.48  204.15 1379.5  2066.87  457.47  147.38  400.72  493.    267.85
  823.56  197.22  378.16  387.78  229.17  239.11  458.7   164.21  267.82
  940.    179.68  387.13  244.56  122.9   118.11  220.94  754.99  137.77
  684.11  411.01  240.44  446.67  317.51  214.39  579.    432.46  557.
  310.02  385.81  129.03  386.51 1577.89  345.6    87.76  225.69 1133.18
 1051.03  304.72  733.98 2299.19  518.68  384.    125.09   98.74  171.2
  841.19  119.17  124.5   302.44  209.3   378.69  287.17  263.74  337.39
  226.74  432.48  350.85  412.14  298.04  173.98  620.    207.3   231.27
  592.87  462.39  751.75  173.72  568.04 1539.23 2075.69  117.81 1061.
  389.36  137.87 1777.58  219.07 1251.96  696.7   295.71  244.52  124.95
  281.41  122.32  224.87  231.97  268.63  585.26  232.67  135.92  135.37
  209.58  638.18  115.2   201.3   870.63  608.58  217.61  378.58  312.99
  577.81  169.24  136.81  450.05  175.66  208.29  184.89  273.16  182.18
  337.96  856.02  162.99  205.35  230.86 1032.5   520.22  297.97 1840.26
  165.75  289.23  405.28  221.39  352.37  228.89  674.95  240.03  395.11
 1823.58  370.52  235.67  126.99  132.09  470.09  452.26  245.59  157.81
  460.3   145.69 1276.    150.72  410.62  298.94  172.64  128.19 1585.74
  132.78  211.31  264.    291.48  588.64  162.54  407.46  185.51  283.12
  416.69  568.14  385.25  174.47  154.72  152.73  159.95  784.    248.87
  428.94  381.22  188.11  785.99  141.79  200.31  373.63  182.85   89.41
  135.98  851.15  122.6   282.    138.23  350.95  352.8   218.81 1388.02
  194.61  172.88 1776.08  196.96  200.89  187.45  187.54  212.54  104.5
  165.92  169.18  331.23]

In [33]:
#Get model's prediction for the next 'n' days
prediction=model.predict(prediction_days_array)
#print the predicted values
print(prediction)
print()
#print the actual values
print(df['close'].tail(prediction_days))

[1852.115  1717.605  2226.09   1919.185  2226.09   2375.9125 1905.785
 1906.1075 1788.76   1788.76   1788.76   1788.76   1788.76   1788.76
 1788.76   1788.76   1788.76   1788.76   1788.76   1788.76   1788.76
 1788.76   1788.76   1788.76   1788.76   1788.76   1788.76   1788.76
 1788.76   1788.76  ]

2021-03-24    1581.84
2021-03-25    1585.74
2021-03-26    1698.84
2021-03-27    1712.63
2021-03-28    1687.01
2021-03-29    1816.74
2021-03-30    1840.46
2021-03-31    1919.37
2021-04-01    1968.05
2021-04-02    2133.69
2021-04-03    2008.52
2021-04-04    2075.69
2021-04-05    2107.38
2021-04-06    2112.21
2021-04-07    1963.47
2021-04-08    2080.46
2021-04-09    2066.87
2021-04-10    2133.49
2021-04-11    2151.36
2021-04-12    2137.69
2021-04-13    2299.19
2021-04-14    2432.60
2021-04-15    2514.04
2021-04-16    2422.67
2021-04-17    2317.60
2021-04-18    2235.64
2021-04-19    2161.12
2021-04-20    2330.03
2021-04-21    2357.06
2021-04-22    2344.02
Name: close, dtype: float64

In [26]:
from sklearn.svm import SVR
# create and train the support vector machine (regressor) using the radial basis function
svr_rbf=SVR(kernel='rbf',C=1e3,gamma=0.00001)
svr_rbf.fit(X_train,y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [27]:
print(svr_rbf.score(X_train, y_train))
print(svr_rbf.score(X_test, y_test))

0.8377966131602398
0.8122888844728353

In [28]:
#Show how close the predicted values and actual values are
svm_prediction=svr_rbf.predict(X_test)
#print the predicted values
print(svm_prediction)
print()
#print the actual values
print(y_test)

[ 155.74710754  242.91856867  154.46395349  422.84320539  495.66003423
  187.34650215  356.4893255   648.38651131  132.03430687  197.84323451
  207.28363637  430.53756697  400.87251397  223.22997123  259.99704941
  514.56872409  193.11567627  155.41557246  652.55384925  226.38619556
  169.40155733  411.93097147  298.92666329 2066.59013527  391.98017423
  343.12871114  183.63381878  240.50796731  605.22265366  221.99510845
  631.90968484  556.72170078  221.0662303   497.72639686  305.92287696
  172.10547946  202.25898994  545.64373268  224.61857199  411.01709922
  582.52890421  653.13140869  649.2180937   835.4141515   184.78885889
  625.72403541  171.51567446  314.51088959  225.18174288  184.87274943
 2113.59889983  365.31407121  290.3306671   271.22554088  218.19309854
  160.12975486  315.59703224  607.4846899   179.75615427  255.60256081
  145.31224221  147.56835733  651.85302344  265.15404138  195.56613874
  625.08047513 2088.10526196  513.59245611  188.17624535  237.68140223
  635.43578735  180.01529889  751.85857601  188.72115003  610.00833519
  463.22740233  239.24704713  225.73692461  637.25219406  146.11181267
  260.53105047  444.67204685  184.96431287  375.09693243  209.88389656
  197.80234125  264.32594126  217.72655628  511.25629326  141.76150763
  555.46102347  297.79874488  228.31601303  619.17579569  535.70072091
  218.69655841  650.40316665  530.75780232  663.21696314  304.84738738
  326.51667543  147.86072817  412.81794965 1606.52833362  483.57337488
  210.95177896  294.83656068  467.06728854  630.61444957  244.72273393
  507.75611069 2016.81356803  413.43222813  620.59892324  160.32854218
  163.66190809  209.7886442  1004.92080085  134.51323592  223.67053505
  395.05479298  222.8359685   398.32601259  559.08721874  239.16903981
  416.04138059  197.9577803   586.98950777  423.2953912   360.86947923
  294.14537433  213.14684551  306.32537526  298.24024909  212.73419271
  638.26570693  403.64058932  428.78080125  151.64681179  513.98314806
 1804.74596121 1837.30601626  150.15143275  641.38725579  459.68271176
  142.59883613 1437.51860521  226.67426642  633.26329767  646.45145057
  444.13627914  205.73996019  129.8725496   457.57294374  261.6017409
  240.52756171  187.17637779  240.30230951  424.98133287  230.24168084
  257.73495316  144.67780046  291.72403094  572.01852901  148.77279333
  209.33891415 1109.24175475  446.22427682  301.49601157  612.6733375
  351.8391743   654.02057159  175.89005133  138.51438258  528.15191798
  177.51549199  197.29596232  193.0997107   230.03433223  181.14554092
  274.07306554  977.27077768  152.00687797  224.86768719  200.67685611
  610.29692403  607.44375345  313.21075907 1233.8269756   155.25021463
  242.48411593  543.31351314  308.96232675  409.38135946  199.26331274
  338.2439479   199.45286648  321.33295973 2100.64856503  385.94787757
  227.848527    170.57984463  162.83941148  486.45991186  294.97493848
  224.84922566  195.88982673  304.95363846  146.50931912  618.86037652
  192.55767999  513.24062416  253.02416679  156.12293081  180.44565242
 1934.59007036  183.05167268  179.25386068  318.93088405  265.4199002
  495.09928409  147.90016839  232.31481613  155.75940757  291.4724074
  350.23175484  617.27560147  451.44205797  198.01507787  153.18546552
  140.37717183  157.30864724  367.65076009  173.22855695  357.43595705
  605.64086055  189.60425554  399.73416979  188.19956463  219.93274175
  411.99918722  184.59835017  211.25658364  162.10720585 1256.882078
  141.92705447  333.1113954   205.90148444  345.92999754  401.33351736
  348.48720335  653.51268311  220.14090348  153.58767218 2098.78263576
  228.17567712  198.14610556  215.31891392  168.37024363  197.80234125
  162.69523037  190.01208127  180.06717763  311.63852071]

[ 194.21  379.34  187.4   357.49  661.51  121.88  396.67  384.51  153.86
  209.84  229.64  385.26  367.93  173.75  387.97  714.95  148.45  159.31
 1253.87  225.4   270.53  537.52  367.42 1793.48  475.4   331.33  100.39
  205.85  591.02  316.77  462.09  478.49  141.28  270.8   427.43  188.11
  116.57  449.78  130.98  616.66  637.44  524.11 1233.6   835.89  184.92
  720.85  149.56  294.81  212.79  186.68 1766.1   387.88  216.84  219.62
  194.33  134.35  683.99  608.83  183.75  264.66  140.92  196.24  511.5
  206.48  204.15 1379.5  2066.87  457.47  147.38  400.72  493.    267.85
  823.56  197.22  378.16  387.78  229.17  239.11  458.7   164.21  267.82
  940.    179.68  387.13  244.56  122.9   118.11  220.94  754.99  137.77
  684.11  411.01  240.44  446.67  317.51  214.39  579.    432.46  557.
  310.02  385.81  129.03  386.51 1577.89  345.6    87.76  225.69 1133.18
 1051.03  304.72  733.98 2299.19  518.68  384.    125.09   98.74  171.2
  841.19  119.17  124.5   302.44  209.3   378.69  287.17  263.74  337.39
  226.74  432.48  350.85  412.14  298.04  173.98  620.    207.3   231.27
  592.87  462.39  751.75  173.72  568.04 1539.23 2075.69  117.81 1061.
  389.36  137.87 1777.58  219.07 1251.96  696.7   295.71  244.52  124.95
  281.41  122.32  224.87  231.97  268.63  585.26  232.67  135.92  135.37
  209.58  638.18  115.2   201.3   870.63  608.58  217.61  378.58  312.99
  577.81  169.24  136.81  450.05  175.66  208.29  184.89  273.16  182.18
  337.96  856.02  162.99  205.35  230.86 1032.5   520.22  297.97 1840.26
  165.75  289.23  405.28  221.39  352.37  228.89  674.95  240.03  395.11
 1823.58  370.52  235.67  126.99  132.09  470.09  452.26  245.59  157.81
  460.3   145.69 1276.    150.72  410.62  298.94  172.64  128.19 1585.74
  132.78  211.31  264.    291.48  588.64  162.54  407.46  185.51  283.12
  416.69  568.14  385.25  174.47  154.72  152.73  159.95  784.    248.87
  428.94  381.22  188.11  785.99  141.79  200.31  373.63  182.85   89.41
  135.98  851.15  122.6   282.    138.23  350.95  352.8   218.81 1388.02
  194.61  172.88 1776.08  196.96  200.89  187.45  187.54  212.54  104.5
  165.92  169.18  331.23]

In [29]:
#Get model's prediction for the next 'n' days
svm_prediction=svr_rbf.predict(prediction_days_array)
#print the predicted values
print(svm_prediction)
print()
#print the actual values
print(df['close'].tail(prediction_days))

[1942.01919333 1949.27633808 2100.26300856 2107.68614337 2091.64342157
 2064.348839   2029.76127835 1859.98422681 1726.49624065 1283.19701065
 1609.2797077  1421.77768195 1342.56652751 1331.20688586 1739.57040566
 1409.36995191 1445.12522665 1283.62457301 1246.91207543 1274.72435231
 1055.64753281 1003.39742431  994.66212591 1005.21165822 1043.67791035
 1114.83485862 1228.15116537 1036.68564402 1024.13242783 1029.76370653]

2021-03-24    1581.84
2021-03-25    1585.74
2021-03-26    1698.84
2021-03-27    1712.63
2021-03-28    1687.01
2021-03-29    1816.74
2021-03-30    1840.46
2021-03-31    1919.37
2021-04-01    1968.05
2021-04-02    2133.69
2021-04-03    2008.52
2021-04-04    2075.69
2021-04-05    2107.38
2021-04-06    2112.21
2021-04-07    1963.47
2021-04-08    2080.46
2021-04-09    2066.87
2021-04-10    2133.49
2021-04-11    2151.36
2021-04-12    2137.69
2021-04-13    2299.19
2021-04-14    2432.60
2021-04-15    2514.04
2021-04-16    2422.67
2021-04-17    2317.60
2021-04-18    2235.64
2021-04-19    2161.12
2021-04-20    2330.03
2021-04-21    2357.06
2021-04-22    2344.02
Name: close, dtype: float64