<a href="https://colab.research.google.com/github/cagedlion/cagedlion/blob/main/ETH_Prediction_next_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#This file attempts to predict the future price of Ether

In [2]:
# The first thing we want to do is import the necessary library and set the filepath to our data file
from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
filepath = "https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv"
import ssl  # we need to import this library and tweak one setting due to fact we use HTTPS certificate(s)
ssl._create_default_https_context = ssl._create_unverified_context
# Now we want to create a dataframe and use Pandas' to_csv function to read in our file
df = pd.read_csv(filepath, skiprows=1)  # we use skiprows parameter because first row contains our web address
# Now that we have loaded our data into the dataframe, we can preview it using the print & .head() function
df  # look at the dataframe

              unix                 date  ...   Volume USDT  tradecount
0     1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0
1     1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
2     1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
3     1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
4     1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
...            ...                  ...  ...           ...         ...
1341  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
1342  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
1343  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
1344  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
1345  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN

[1346 rows x 10 columns]

In [3]:
sorted_df = df. sort_values(by=["date"], ascending=True)
sorted_df

              unix                 date  ...   Volume USDT  tradecount
1345  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN
1344  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
1343  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
1342  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
1341  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
...            ...                  ...  ...           ...         ...
4     1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
3     1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
2     1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
1     1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
0     1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0

[1346 rows x 10 columns]

In [4]:
# set the index to be the date
df=sorted_df.set_index(pd.DatetimeIndex(sorted_df['date'].values))
#show the data
df

                    unix                 date  ...   Volume USDT  tradecount
2017-08-17  1.502928e+09           2017-08-17  ...  1.890018e+06         NaN
2017-08-18  1.503014e+09           2017-08-18  ...  2.815460e+06         NaN
2017-08-19  1.503101e+09           2017-08-19  ...  6.182486e+05         NaN
2017-08-20  1.503187e+09           2017-08-20  ...  7.308007e+05         NaN
2017-08-21  1.503274e+09           2017-08-21  ...  1.661944e+06         NaN
...                  ...                  ...  ...           ...         ...
2021-04-18  1.618704e+12  2021-04-18 00:00:00  ...  3.190809e+09   2113566.0
2021-04-19  1.618790e+12  2021-04-19 00:00:00  ...  1.800576e+09   1411498.0
2021-04-20  1.618877e+12  2021-04-20 00:00:00  ...  2.181210e+09   1478664.0
2021-04-21  1.618963e+12  2021-04-21 00:00:00  ...  2.771996e+09   1905822.0
2021-04-22  1.619050e+12  2021-04-22 00:00:00  ...  2.277703e+07     14348.0

[1346 rows x 10 columns]

In [5]:
#now get only the close price
df=df[['close']]
df

              close
2017-08-17   302.00
2017-08-18   293.96
2017-08-19   290.91
2017-08-20   299.10
2017-08-21   323.29
...             ...
2021-04-18  2235.64
2021-04-19  2161.12
2021-04-20  2330.03
2021-04-21  2357.06
2021-04-22  2344.02

[1346 rows x 1 columns]

In [6]:
# create a variable to store the number of days for which we want to predict the prices
prediction_days=1
# create a new variable called prediction
df['prediction']=df[['close']].shift(-prediction_days)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

              close  prediction
2017-08-17   302.00      293.96
2017-08-18   293.96      290.91
2017-08-19   290.91      299.10
2017-08-20   299.10      323.29
2017-08-21   323.29      309.80
...             ...         ...
2021-04-18  2235.64     2161.12
2021-04-19  2161.12     2330.03
2021-04-20  2330.03     2357.06
2021-04-21  2357.06     2344.02
2021-04-22  2344.02         NaN

[1346 rows x 2 columns]

In [7]:
# Drop the prediction variable from the dataframe
X = np.array(df.drop('prediction', axis=1))
# Remove the last n+1 rows of data where, n is the prediction_days
X=X[:len(df)-prediction_days-1]
X

array([[ 302.  ],
       [ 293.96],
       [ 290.91],
       ...,
       [2235.64],
       [2161.12],
       [2330.03]])

In [8]:
# Create a dependent variable dataset (y)
y = np.array(df['prediction'])
#Get all the y values except the last n+1 rows
y=y[:-prediction_days-1]
y

array([ 293.96,  290.91,  299.1 , ..., 2161.12, 2330.03, 2357.06])

In [9]:
#Split the data into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=1)

In [10]:
# Use the random forest regressor model
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=2, random_state=1)
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.9967138402811497

In [11]:
model.score(X_test, y_test)

0.991650092555953

In [12]:
#Show how close the predicted values and actual values are
prediction=model.predict(X_test)
#print the predicted values
print(prediction)
print()
#print the actual values
print(y_test)

[ 184.69       1151.06        405.57        134.85       2017.73
  221.84       1014.          122.82        131.33        821.465
  225.6        1375.45        198.74        198.65        337.39
  718.36        470.09        397.45        307.53        407.46
  100.39        139.16       1870.51        245.095       246.51
 1713.885       900.345       232.5         375.74        568.14
  441.135       156.825       379.3         211.415       307.53
  177.12        471.71        307.46        217.61        141.48
  227.79        169.18        307.46        305.          184.475
  402.49        285.15        672.          307.95        139.735
  236.69        399.185       215.6         177.745       343.645
  845.01583333  246.95        209.685      1043.505       228.06
  924.55        462.84        107.07        429.52        396.66
  478.49        405.57        162.54        107.          173.
  236.345       180.72        100.39        225.6         307.53
  134.13        368.52        178.75        332.175       210.755
  388.995       469.81        386.58        384.455      1668.08
 1486.78        143.39       1754.765       479.825       207.65
  551.175       460.105       389.61        462.84        213.19
  379.3         115.15       1151.06        185.71        165.9
 1258.45        723.91        191.95        198.73        670.255
  311.485       137.74        188.91        526.57        445.65
  241.48        264.25        162.61        388.995       466.17
  384.455        88.89        235.3         835.89        224.405
  179.68       1968.05        559.17        867.28       1325.48
  135.37        232.055       162.54        357.49        182.88
  135.69        672.          433.405      2017.73        460.55
  771.35        450.66        517.95        728.91        169.18
  640.99        311.05        228.4         352.85        867.28
  111.235       303.99        225.6         117.005       347.58
  442.49        727.415       228.06        450.05        270.53
  133.48       1833.02        201.3         122.82        228.2
  119.12        382.905       230.625       224.435       311.485
  373.79        228.4          87.05        296.33        605.16
  311.485       374.7        1129.89        300.035       378.21
  114.89        511.5         838.485       165.64        753.28
 1458.13        211.41        138.03        696.905       285.17
  255.49        216.625      1528.31        753.58        214.815
  247.38        141.38        116.575       400.655       389.915
  267.85        170.85        188.465       434.77        364.07
  210.77        564.08        173.75        198.88        232.055
  199.96        141.31        574.25        270.53        239.38
  231.62        335.01        569.5         317.36        397.105
  213.605       179.68        357.49        224.485       236.345
 1870.51        170.2         270.53        495.67        274.29
 1099.56        185.05        148.65        179.68        455.17
  752.49        175.595       384.455       321.93        367.39
  265.52        680.58        131.125      1865.725       510.315
  201.3         856.28        135.295       122.9        2087.125
  332.175       228.06        198.73        133.22        287.9
  278.6         133.835       227.79        587.3        1170.
  288.4         727.415       171.03        303.99        173.
  599.155       275.765       389.36        523.74        111.865
  313.705       360.775       191.95        170.2       ]

[ 173.49 1208.42  406.33  152.01 1913.    227.56  980.    133.75  136.1
  813.11  243.13 1376.99  187.54  200.31  340.75  690.85  472.31  388.23
  323.29  438.11   89.91  133.52 1919.37  239.39  229.   1781.99  856.02
  231.27  377.12  462.09  435.21  157.85  365.5   225.73  270.51  177.16
  496.74  335.    217.81  132.66  247.73  168.59  335.61  294.81  185.59
  395.24  271.22  688.56  289.23  127.6   228.37  407.68  244.52  170.74
  315.19  870.11  240.44  210.89 1254.25  261.15  938.11  473.41  107.36
  387.97  403.45  479.28  417.52  160.38  110.42  159.96  244.29  186.68
   90.38  219.62  293.79  138.55  397.03  181.19  331.23  211.62  390.71
  466.67  428.94  424.54 1611.62 1539.23  148.1  1785.62  468.57  220.74
  579.    486.77  381.04  467.38  204.92  364.06  136.3  1124.81  179.49
  183.75 1168.53  794.3   184.92  185.18  779.    287.01  145.69  199.58
  531.69  508.7   242.79  237.71  165.37  379.    454.41  382.49   83.82
  237.55  851.15  215.05  179.81 1933.53  557.   1041.43 1329.69  136.09
  232.67  160.35  359.79  190.35  121.88  682.81  420.41 2133.69  446.67
  851.6   519.29  497.14  707.89  190.2   723.71  291.78  215.22  359.83
 1004.11  134.06  337.96  241.6   129.03  341.58  454.3   674.95  243.21
  460.3   268.88  139.45 1805.12  197.27  117.47  243.66  132.06  385.93
  226.28  218.03  307.25  385.26  220.94   89.41  310.8   636.45  312.99
  352.37 1118.99  291.99  469.    124.65  519.83  919.09  142.68  727.49
 1569.86  248.1   130.77  750.    268.83  264.45  265.74 1650.35  681.06
  207.3   241.01  132.73  112.05  382.93  400.72  250.37  180.85  189.03
  410.62  385.94  212.89  602.18  161.01  225.38  259.51  207.36  144.1
  544.43  244.3   231.57  233.54  371.04  620.92  337.96  416.07  218.81
  174.47  367.42  220.73  243.8  1814.96  182.37  268.14  421.95  215.21
  922.3   178.05  133.82  180.95  420.22  782.41  178.28  372.42  311.07
  381.22  264.66  676.96  107.69 1769.13  495.11  214.39  853.5   136.56
  105.5  2133.49  331.49  233.6   207.84  118.95  310.79  271.03  144.84
  228.38  609.05 1253.87  297.97  684.11  171.79  298.04  162.99  570.4
  264.    368.32  518.68  108.29  323.42  365.02  195.84  183.6 ]

In [13]:
#Get the validation data for the model
#create a variable to store all the rows of the data except last n rows
temp_df=df[:-prediction_days]
#create a variable to store the independent price values
X_val=temp_df.tail(1)['close'][0]
#show the data
print(X_val)

2357.06

In [14]:
prediction=model.predict([[X_val]])
#print the price of coin for the next n days
print('The price of coin in', prediction_days, 'day(s) is predicted to be', prediction)
#print the actual value of the coin for the next n days
print('The actual price of coin was', temp_df.tail(1)['prediction'][0])

The price of coin in 1 day(s) is predicted to be [2394.83]
The actual price of coin was 2344.02